<form [formGroup]="frmFinancialPeriod">
  <table class="mainTable">
    <tr class="form-title-bg">
      <td colspan="5">
        <p class="form-title">Financial Period</p>
      </td>
      <td colspan="5">
        <div id="divHToolbar" class="float-right">
          <button type="button" id="btnSave" matTooltip="Click to close current period and open subsequent period in he sytsem" (click)="tbSave()" class="close"></button>
          <button type="button" id="btnExit" matTooltip="Click to go back to main menu" (click)="tbExit()" class="exit"></button>
        </div>
      </td>
    </tr>

    <tr>
      <td >
        <mat-form-field class="tb200">
          <mat-label>Period </mat-label>
          <input formControlName="periodName" matTooltip="Financal Period" matInput readonly tabindex="-1">
        </mat-form-field>
      </td>
      <td colspan="3"></td>
      <td colspan="2"></td>
    </tr>

    <tr>
      <td >
        <mat-form-field class="tb200">
          <mat-label>Current Month </mat-label>
          <input formControlName="currentMonth" matTooltip="Current Financal Month" matInput readonly tabindex="-1">
        </mat-form-field>
      </td>
    </tr>
    
    <tr>
      <td >
        <mat-form-field class="tb200">
          <mat-label>Current Year </mat-label>
          <input formControlName="currentYear" matTooltip="Current Financal Year" matInput readonly tabindex="-1">
        </mat-form-field>
      </td>
    </tr>    
  </table>
</form>
