@import "../../../assets/CSS/MainLayout.css";


.developer {
  text-align: center;
  color: #CC3333;
  font-size: medium;
  display: inline-block;
  width: 100vw;
  font-family: Monotype Corsiva;
  left: 0px;
}

.mat-select-value-text {
  color: green;
}
