<form [formGroup]="frmRateSheet">
  <table class="mainTable">
    <tr class="form-title-bg">
      <td colspan="5">
        <p class="form-title">Rate Sheet</p>
      </td>
      <td colspan="5">
        <div id="divHToolbar" class="float-right">
          <button type="button" id="btnSearch" matTooltip="Search from lookup list" (click)="tbSearch()" class="find"></button>
          <button type="button" id="btnRecall" matTooltip="Click to Recall existing Entry" (click)="tbRecall()" class="recall"></button>
          <button type="button" id="btnEdit" matTooltip="Click to Edit current Entry" (click)="tbEdit()" class="edit"></button>
          <button type="button" id="btnUndo" matTooltip="Click to discard changes made since last save operation" (click)="tbUndo()" class="undo"></button>
          <button type="button" id="btnExit" matTooltip="Click to go back to main menu" (click)="tbExit()" class="exit"></button>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <mat-form-field class="tb60" color="accent">
          <mat-label>Rate Sheet</mat-label>
          <input formControlName="rateSheetId" #ratesheetId matInput maxlength="4" numbersOnly (keydown.enter)="get(ratesheetId.value)">
        </mat-form-field>
      </td>
      <td class="slider">
        <mat-slide-toggle formControlName="isActive" color="primary">Rate Active ?</mat-slide-toggle>
      </td>
      <td colspan="2"></td>
      <td colspan="2"></td>
    </tr>

    <tr>
      <td>
        <mat-form-field class="tb200">
          <mat-label>Storer Group</mat-label>
          <input formControlName="storerGroupName"  matTooltip="Storer Name" matInput maxlength="50" readonly tabindex="-1">
        </mat-form-field>
      </td>

      <td>
        <mat-form-field class="tb200">
          <mat-label>Profit Center</mat-label>
          <input formControlName="pcName" matTooltip="Profit Center" matInput maxlength="50" readonly tabindex="-1">
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <td>
        <mat-form-field class="tb200">
          <mat-label>Invoice Calendar</mat-label>
          <input formControlName="calendarName" matTooltip="Invoice Calendar" matInput maxlength="50" readonly tabindex="-1">
        </mat-form-field>
      </td>

      <td>
        <mat-form-field class="tb200">
          <mat-label>KAM</mat-label>
          <input formControlName="kamName" matTooltip="KAM" matInput maxlength="50" readonly tabindex="-1">
        </mat-form-field>
      </td>

      <td>
        <mat-form-field class="tb120">
          <mat-label>Expiry Date </mat-label>
          <input matInput [matDatepicker]="mdpEDate"  matTooltip="Expiry Date" formControlName="expiryDate" readonly tabindex="-1">
          <mat-datepicker-toggle matSuffix [for]="mdpEDate"></mat-datepicker-toggle>
          <mat-datepicker #mdpEDate></mat-datepicker>
        </mat-form-field>
      </td>

      <td>
        <mat-form-field class="tb120">
          <mat-label>Min Inv Amount</mat-label>
          <input type="number" formControlName="minInvAmount" min="0" step="0.01" max="999" matTooltip="Enter Min Inv Amount" maxlength="9" matInput oninput="validity.valid||(value='');" readonly tabindex="-1">
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <td colspan="10">
        <mat-tab-group (selectedTabChange)="validateGridStatus()">
          <mat-tab label="Storage Charges" style="background-color:green;">
            <div class="divStorage">
              <div class="divStorageRate">               
                <ag-grid-angular class="ag-theme-balham grdStorage" [gridOptions]="goStorage" id="grdStorage"
                  [columnDefs]="colStorage" (rowClicked)="onStorageRowSelected($event)" [rowData]="storageData"></ag-grid-angular>
              </div>
              <div class="divStorageLoc">                
                <ag-grid-angular class="ag-theme-balham grdStorageLoc" [gridOptions]="goStorageLoc" id="grdStorageLoc"
                                 [columnDefs]="colStorageLoc" [rowData]="storageLocData"></ag-grid-angular>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="Handling Charges">
            <div class="divHandling">
              <div class="divHandlingRate">               
                <ag-grid-angular class="ag-theme-balham grdHandling" [gridOptions]="goHandling" id="grdHandling"
                  [columnDefs]="colHandling" (rowClicked)="onHandlingRowSelected($event)"  [rowData]="handlingData" ></ag-grid-angular>
              </div>
              <div class="divHandlingContainer" [hidden]="containerHidden">               
                <ag-grid-angular class="ag-theme-balham grdHandlingContainer" [gridOptions]="goHandlingContainer" id="grdHandlingContainer"
                                 [columnDefs]="colHandlingContainer" [rowData]="handlingContainerData"></ag-grid-angular>
              </div>
              <div class="divHandlingSKU" [hidden]="skuHidden">                
                <ag-grid-angular class="ag-theme-balham grdHandlingSKU" [gridOptions]="goHandlingSKU" id="grdHandlingSKU"
                                [columnDefs]="colHandlingSKU" [rowData]="handlingSKUData"></ag-grid-angular>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="Accessorial Charges">
            <div class="divAccessorial">
              <div class="divVariable">                
                <ag-grid-angular class="ag-theme-balham grdVariable" [gridOptions]="goVariable" id="grdVariable"
                  [columnDefs]="colVariable" [rowData]="variableData"></ag-grid-angular>
              </div>
              <div class="divFixed">               
                <ag-grid-angular class="ag-theme-balham grdFixed" [gridOptions]="goFixed" id="grdFixed"
                  [columnDefs]="colFixed" [rowData]="fixedData"></ag-grid-angular>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="Project & Remarks Defaults">
            <div class="divRemarks">              
              <ag-grid-angular class="ag-theme-balham grdRemarks" [gridOptions]="goRemarks" id="grdRemarks"
                [columnDefs]="colRemarks" [rowData]="remarksData"></ag-grid-angular>
            </div>
          </mat-tab>

          <mat-tab label="Exempted Storage Location Categories">
            <div class="divExemptLoc">              
              <ag-grid-angular class="ag-theme-balham grdExemptLoc" [gridOptions]="goExemptLoc" id="grdExemptLoc"
                [columnDefs]="colExemptLoc" [rowData]="exemptLocData"></ag-grid-angular>
            </div>
          </mat-tab>
        </mat-tab-group>
      </td>
    </tr>   
  </table>
</form>
<footer>
  <app-footer [items]="footer"></app-footer>
</footer>
