.mat-toolbar {
  height: 28px;
  background-color: darkgoldenrod;
  font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
  text-align: left;
  color: yellow;
  font-weight: bold;
}
/*
.mat-select{
    max-height: 20px;
    top: -5px;
    color: white;
    font-weight: bold;
}*/

.mat-menu-content {
  background-color: red !important;
}

.mat-menu-panel.my-full-width-menu {
  background-color: lawngreen;
  margin: 0;
  padding: 0;
  border: groove red 5px;
}

.custom__menu + * .cdk-overlay-pane > div.mat-menu-panel > div.mat-menu-content {
  background-color: cadetblue;
}

.mat-menu-panel > div.mat-menu-content {
  background-color: pink !important;
  margin: 0;
}

.cdk-overlay-pane {
  background-color: ivory;
  margin: 0;
  padding: 0;
  border: groove red 5px;
  top: 10px;
}

button.mat-button:focus {
  outline: none;
  font-size: 12px;
}

button.mat-menu-item {
  height: 32px;
  font-size: 12px;
  background-color: lightgoldenrodyellow;
}

  button.mat-menu-item:hover {
    background-color: blue;
    color: #fff !important;
    vertical-align: top;
    font-weight: bold;
    text-align: center;
    font-size: 12px;
    padding-bottom: 12px;
    outline: white;
  }

  button.mat-menu-item:focus {
    outline: yellow;
  }

.mat-menu-item {
  height: 35px;
  font-size: 12px;
  text-align: left;
  background-color: papayawhip;
  color: black;
  font-style: italic;
}

mat-expansion-panel {
  background-color: lightgoldenrodyellow;
  width: auto;
}

mat-expansion-panel-header {
  background-color: lightgoldenrodyellow;
  color: darkgoldenrod;
  font-weight: bold;
  width: auto;
  max-width: 15vw;
}

  mat-expansion-panel-header mat-expanded {
    background-color: blue;
    color: white;
    font-weight: bold;
    width: auto;
    max-width: 15vw;
  }

  mat-expansion-panel-header.mat-expanded {
    background-color: darkgoldenrod;
    color: white;
    font-weight: bolder;
    font-style: italic;
    border: 2px dotted brown;
    width: initial;
  }

    mat-expansion-panel-header.mat-expanded:hover {
      background-color: blue;
      border: none;
    }

mat-panel-title {
  background-color: darkgoldenrod;
  border: none;
}

mat-nav-list.a {
  color: indianred;
  width: auto;
  padding: 0;
  margin: 0;
}

a.mat-list-item {
  max-width: 12vw;
  word-wrap: break-word;
  background-color: darkgoldenrod;
  color: white;
}

mat-nav-list mat-list-base {
  border: double blue 2px;
}

mat-sidenav {
  background-color: lightgoldenrodyellow;
}

.ddCompany {
  width: 20vw;
  color: white;
}
