<div class="row">
  <div class="col-md-12">
    <div class="error-template">
      <h1>
        Oops!
      </h1>
      <h2>
        404 Not Found
      </h2>
      <div class="error-details">
        Sorry, an error has occured, Requested page not found! Please report it to IT support desk by raising Service Request
      </div>
      <div class="error-actions">
        <a routerLink="../../MainForm" class="btn btn-primary btn-lg">
          <span class="glyphicon glyphicon-home"></span>
          Click here to go back to main menu
        </a>
      </div>
      <div>
        <p><img src="assets/images/GIL_Logo.bmp"/></p>
      </div>
    </div>
  </div>
</div>
