<div class="divVerticalHalf">
  <div class="divRow">
    <div class="divAppLogo">
      <img src="assets/images/WiMS.png" class="appLogo" />
      <p class="site-title">Agility WMS Billing System</p>
    </div>
  </div>
  <div class="divDisclaimer">
    <b>Disclaimer:</b>This web portal is not for public use and require exclusive credentials & rights to access containing functionalities.
    If you are the legitimate user, please enter your Pakistan Portal User Id and Password to start surfing this portal. 
    If you do not possess valid id however you are Agility PK employee and some of the containing functionalities pertain to your business needs 
    please raise System Access Request (SAR) online.
  </div>
</div>

<div class="divVerticalHalf">
  <div class="divRow">
    <div class="divGILLogo">
      <img class="gilLogo" src="assets/images/GIL_Logo.bmp" />
    </div>
  </div>
  <div class="divCellLogin">
      <app-login></app-login>
  </div>
</div>
<footer>
    <span class="developer">
      Developed and Maintained by Agility Pakistan IT Department
    </span>
</footer>
